<div class="wrapper" *ngIf="(loggedInAccount$ | async)?.emailVerification; else verify">
    <app-private-header class="topnavbar-wrapper"></app-private-header>
    <div *ngIf="(loggedInAccount$ | async)?.prefs!.hasOwnProperty('ndermarrje'); else zgjidhNdermarrje">
        <!-- top navbar-->
        <!-- sidebar-->
        <app-private-sidebar class="aside-container"></app-private-sidebar>
        <!-- offsidebar-->
        <app-private-offsidebar class="offsidebar"></app-private-offsidebar>
        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </section>
    </div>
    <!-- zgjidh ndermarrje -->
    <ng-template #zgjidhNdermarrje>
        <app-ndermarrje-list></app-ndermarrje-list>
    </ng-template>
    <!-- Page footer-->
    <footer class="footer-container" app-private-footer></footer>
</div>
<!-- verifiko emailin -->
<ng-template #verify>
    <app-email-verification *ngIf="loggedInAccount$ | async"></app-email-verification>
</ng-template>