<div class="wrapper" *ngIf="(loggedInAccount$ | async)?.emailVerification; else verify">
    <!-- top navbar-->
    <app-private-header class="topnavbar-wrapper"></app-private-header>
    <!-- sidebar-->
    <app-private-sidebar class="aside-container"></app-private-sidebar>
    <!-- offsidebar-->
    <app-private-offsidebar class="offsidebar"></app-private-offsidebar>
    <!-- Main section-->
    <section class="section-container">
        <!-- Page content-->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </section>
    <!-- Page footer-->
    <footer class="footer-container" app-private-footer></footer>
</div>


<ng-template #verify>
    <!-- <div *ngIf="loggedInAccount$ | async; else loading"> -->
        <app-email-verification *ngIf="loggedInAccount$ | async"></app-email-verification>
        <!-- <div>verify ...</div> -->

    <!-- </div> -->
    <!-- <ng-template #loading>
        <div>Loading ...</div>
    </ng-template> -->
</ng-template>