<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <div class="card card-flat">
            <div class="card-body">
                <p class="text-center py-2">Krijo llogari te re.</p>
                <form [formGroup]="signupForm" (ngSubmit)="submitSignup()" class="form-validate mb-3">
                    <formly-form [model]="signupModel" [fields]="fields" [options]="options" [form]="signupForm"></formly-form>
                    <button type="submit" class="btn btn-block btn-primary mt-3">Krijo Llogari</button>
                </form>
                <p class="pt-3 text-center">Keni nje llogari?</p>
                <a class="btn btn-block btn-secondary" [routerLink]="'/login'">Login</a>
            </div>
        </div>
    </div>
</div>