<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <div class="card card-flat">
            <div class="card-body">
                <p class="text-center py-2">LOGIN</p>
                <form [formGroup]="loginForm" (ngSubmit)="submitLogin($event)" class="form-validate mb-3">
                    <formly-form [model]="loginModel" [fields]="fields" [options]="options" [form]="loginForm"></formly-form>
                    <button type="submit" class="btn btn-block btn-primary mt-3">Login</button>
                </form>
                <a class="btn btn-block btn-secondary" [routerLink]="'/signup'">Krijo llogari</a>
            </div>
        </div>
    </div>
</div>